<template>
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-10 " >
                <div class="card">
                    <div class="card-body">
                        <div class="card-title h4">Feedback form</div>
                        <div class="container-fluid">

                        <div class="row mt-4">
                            <div class="col-6">
                                <div >
                                    <label >Name:</label>
                                    <input class="form-control" type="text" v-model="form.name">
                                </div>
                            </div>
                            <div class="col-6">
                                <div >
                                    <label >email:</label>
                                    <input class="form-control" type="email" v-model="form.email">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 mt-3">
                                <div >
                                    <label >Message:</label>
                                    <textarea class="form-control"  v-model="form.message">

                                    </textarea>
                                </div>
                            </div>
                            <div class="col-6 mt-3">
                                <div >
                                    <label >Phone:</label>
                                    <input class="form-control" type="tel" v-model="form.phone">
                                </div>
                            </div>
                        </div>

                            <pre>
                                {{errors }}
                            </pre>
                        <div class="row justify-content-end">
                            <div class="col-1 mt-3  mr-3">
                                <div >
                                    <button class="btn btn-info"  @click="sendForm">Send </button>
                                </div>
                            </div>
                        </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'feedback',
        data: ( ) => {
                return {
                    form: {
                        name: '',
                        email: '',
                        phone: '',
                        message: ''
                    },
                    errors: ''
                }
        },
        methods: {
          sendForm() {
            this.$axios.post('api/feedback', this.form).then(({data}) => {
                this.errors = null;
                alert(data.message);
            }).catch(({response}) => {

                this.errors = response.data.errors;
                console.log( response);
            })
          }
        },
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
